aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
attrs==25.4.0
bdfparser==2.2.0
certifi==2025.11.12
charset-normalizer==3.4.4
docopt==0.6.2
feedparser==6.0.12
frozenlist==1.8.0
idna==3.11
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
libsixel-python==0.5.0
multidict==6.7.0
numpy==2.3.4
pillow==12.0.0
pipreqs==0.4.13
propcache==0.4.1
pygame==2.6.1
pytz==2025.2
referencing==0.37.0
requests==2.32.5
RGBMatrixEmulator==0.13.5
rpds-py==0.28.0
sgmllib3k==1.0.0
tornado==6.5.2
tzdata==2025.2
urllib3==2.6.1
yarg==0.1.10
yarl==1.22.0
